body {
    margin: 0;
    height: 100vh;
    background-color: yellow;
    
}


.container {
   height: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr ;
   font-family: Marhey, 'Times New Roman', Times, serif;
   
}

.header {
    display: grid;
    font-size: 3rem;
    justify-content: center;
    grid-template-rows: 2fr 1fr;
    align-items: start;
}

.header-buttons {
    display: flex;
   justify-content: space-evenly;
    padding-bottom: 25px;
    
}

.header button {
    width: 120px;
    justify-self: center;
}

#new-btn {
    background-color: green;
    font-family: inherit;
    padding: 10px;
    border-radius: 15px;
    border: solid green 5px;
    font-size: 1rem;
    
}

#new-btn:hover {
    background-color: rgb(11, 175, 11);
    border: solid 5px rgb(11, 175,11);
    
}

.reset-btn {
    background-color: red;
    font-family: inherit;
   border: 5px solid red;
    border-radius: 15px;
    font-size: 1rem;
}

.reset-btn:hover {
    background-color: rgb(173, 23, 23);
    border: 5px solid rgb(173, 23, 23);
}

.header-text {
   display: grid;
    align-self: start;
    font-size: 4rem;
}


.game-container {
    border: 5px solid black;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-self: center;
    align-self: start;
    box-shadow: 0 0 0.6rem rgb(168, 147, 147);

}

.items {
    border: solid 5px black;
    
}

.result-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

dialog{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    border: solid 1px rgb(78, 69, 69);
    padding: 10px;
    width: 250px;
    height: 100px;
}

dialog input[type = 'text'] {
    outline: none;
    border-radius: 10px;
    border: solid 1px rgb(26, 86, 136)
}

dialog .start-game {
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    font-family: inherit;
}

dialog .cancel-btn {
    border-radius: 10px;
    padding: 5px;
    font-family: inherit;
}

.diag-btns {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
}